{% extends 'base_index.html' %}
{% block title %} {% if user.is_authenticated %}Home{%else%}Welcome to ObticToDo{%endif%} {% endblock %}

{% block content %}

{% if user.is_authenticated %}
        <!-- Start of the alert -->
        {% for msg in messages %}
        <div class="alert alert-{% if msg.tags == 'error' %}danger{%elif msg.tags == 'info' %}primary{%else%}success{%endif%} alert-dismissible fade show mt-2 main-alert-asd-2d2-wdq-" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endfor%}
        <!-- Search form -->
        <form action="{% url 'search' 'form' %}" method="GET" autocomplete="off">
            <div class="d-flex mb-1 mt-3 gap-2">
                <input type="text" class="form-control" id="recipient-name" placeholder="Search" name="q">
                <button class="btn btn-primary"  name="frm-search" value="True">Search</button>
            </div>
          </form>

          <!-- Start of top actions -->
          <div class="d-flex bd-highlight mb-1 mt-2 gap-1">
            <button class="btn btn-danger btn-sm p-2 bd-highlight"{% if data_context == None %}disabled{%else%}data-bs-toggle="modal" href="#del-all-finish-items" role="button"{%endif%}>Delete All Finished</button>
            <button class="btn btn-danger btn-sm p-2 bd-highlight"{% if data_context == None %}disabled{%else%}data-bs-toggle="modal" href="#del-all-unfinished-items" role="button"{%endif%}>Delete All Unfinished</button>
            <button class="btn btn-danger btn-sm p-2 bd-highlight"{% if data_context == None %}disabled{%else%}data-bs-toggle="modal" href="#del-all-items" role="button"{%endif%}>Delete All</button>

            {% if data_context == None %}
            {%else%}
            <div class="modal fade" id="del-all-finish-items" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Alert</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure that you want to delete all finished items?
                  </div>
                  <div class="modal-footer">
                    <form action="del_data" method="POST">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button class="btn btn-primary" type="submit" name="del-all-finished">Submit</button>
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="del-all-unfinished-items" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Alert</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure that you want to delete all unfinished items?
                  </div>
                  <div class="modal-footer">
                    <form action="del_data" method="POST">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button class="btn btn-primary" type="submit" name="del-all-un-finished">Submit</button>
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>
            
            <div class="modal fade" id="del-all-items" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Alert</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure that you want to delete all items?
                  </div>
                  <div class="modal-footer">
                    <form action="del_data" method="POST">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button class="btn btn-primary" type="submit" name="del-all">Submit</button>
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>
            {%endif%}
            
            <button type="button" class="btn btn-success btn-sm  ms-auto p-2 bd-highlight" data-bs-toggle="modal" data-bs-target="#newItem-modal">New Item <i class="fas fa-plus"></i></button>
            <div class="modal fade" id="newItem-modal" tabindex="-1" aria-labelledby="newitem-modal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="newitem-modal">New Data</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="{% url 'submitNew' %}" method="POST">
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Name:</label>
                          <input type="text" class="form-control" id="recipient-name" name="dataName">
                        </div>

                        <div class="mb-3">
                          <label for="message-text" class="col-form-label">List of To-Do:</label>
                          <textarea class="form-control" id="message-text" name="dataList"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="submit-record">Submit</button>
                          </div>
                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>
          
          <!-- Start of the main content -->
        <div class="list-group">

          <div class="modal fade" id="viewDataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'handle_data'%}" method="POST">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label" >Data Name:</label>
                      <input type="text" class="form-control " id="modL0NamedISp" name="data-name-view-stage">
                    </div>
                    <div class="mb-3">
                      <label for="disp-list" class="col-form-label">To-Do List:</label>
                      <textarea class="form-control" id="disp-list" name="data-list-view-stage"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" id="update-si0Data-btn" value="" name="update-si0Data-btn">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
            <ul class="list-group  mt-1">
              {% if data_context == None %}
                <h1 class="text-center mt-4">There is no records :( </h1>
              {%else%}
              {%for data in data_context %}
                <li class="list-group-item mt-1 ">
                    <div class="d-flex">
                      <form action="{% url 'handle_data' %}" method="POST">
                          {% if data.isFinished%}
                         <button class="btn btn-primary check-left-mark nohover" type="submit" value="{{data.dataID}}" name="check_finished">
                          <i class="fas fa-check"></i> 
                        </button>
                          {%else%}
                          <button class="btn btn-primary check-left-mark uncchked-sqwd" type="submit" value="{{data.dataID}}" name="check_finished">
                            
                          </button>
                          {%endif%}
                      </form>
                        <p class="data-nam-disp ">
                          {% if data.isFinished %}
                          <del>{{data.dataName}}</del> 
                          {%else%}
                          {{data.dataName}}
                          {%endif%}
                        </p>
                        <div class="ms-auto action-btns">
                            <form action="{% url 'del_data' %}" method="POST">
                                <button class="btn btn-info act-btn-vie" value="{{data.dataID}}" data-bs-toggle="modal" data-bs-target="#viewDataModal" data-bs-dataID="{{data.dataID}}" type="button">
                                  <i class="fas fa-eye"></i>
                                </button>
                                
                                <button class="btn btn-danger act-btn-del" value="{{data.dataID}}" name="del-single-item" type="submit"> 
                                  <i class="fas fa-trash-alt"></i>
                                </button>
                                
                            </form>
                        </div>
                      </div>
                </li>
                {%endfor%}
                {%endif %}
                
              </ul>
          </div>
          {%else%}
           <h1 class="text-center mt-4">Try to login first</h1>
           {%endif%}
{% endblock %}